html,
body {
  height: 100%;
}

/* body {
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
} */

body {
    background-color: #edf4fc;
    font-family: sans-serif;
    /* #f8f9fa is nav back color */
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
  height:70vh;
}

.form-signin .checkbox {
  font-weight: 400;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  outline: none;
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

input[type="password"]:focus {
  outline: none;
}

#passwordToDisplay {
    cursor: pointer;
}

#passwordToHidden {
    cursor: pointer;
}